* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 16px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  font-family: 'Merriweather', serif;
  margin:0;
  display: flex;
  flex-direction: column;
}

h1{
  font-family: 'Sacramento', cursive;
  color: #1fab89;
  font-weight: bold;
  font-size: 2.5 rem;
}
h2,h3,h4{
  font-family: 'Montserrat', sans-serif;
  
}
h2{
  color: #1fab89;
}
h3,h4{
  color:#00a79d;
}

nav {
  width: 100%;
  height: 3rem;
  position:fixed;
  background-color:#ecf4f3;
  
}

#nav-bar {
  display: none;
  padding: 0;
  font-weight: 600;
  position: absolute;
  top: -15px;
  width: 100%;
  background-color:#ecf4f3;
  line-height: 2.5;
}

.navbar a {
  float: none;
  display: block;
  text-decoration: none;
  color: #1fab89;
  margin-top: 1rem;
  text-align: left;
  margin-left: 1rem;
  margin-right: 2rem;
  padding-bottom: 5px;
}
.navbar a:hover {
  color: black;
  cursor: pointer;
} 
.icon {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 10px;
  margin-right: 20px;
  font-size: 25px;
  
}
.fa{
  color: #1fab89;
  }

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:90%;
  margin:auto;
  margin-top: 5rem;
}

main h2 {
  justify-self: center
}

main section {
  margin: 1rem 0
}

main section hr {
  margin-bottom: 1rem
}

.myPic{
  border-radius: 50%;
  
}

#skills{
   width: 90%;
 
}

#skills h2 {
  font-size: 2.5rem; 
  margin-top: 0;
  margin-bottom: 0;
}
#skills-section h3{
  margin-top: 1rem;
  margin-bottom: 0;
}
div.skills {
  display: flex;
  justify-content: space-evenly;
  
}

.list-of-skills{
  padding: 0;
  margin:0;
}

li{
  list-style: none;
}

hr{
  border:dotted  #1fab89 6px;
  border-bottom: none;
  width:4%
}


#projects {
  width:100%;

}
.project-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  margin: 0;

}
.project-card img{
  width: 90%;
  margin:auto;
  border: #1fab89 6px;
}

#projects h2 {
  font-size: 2.5rem;
  margin: 0
}
#projects h3{
  font-size: 1.5rem;
  background-color: #ecf4f3;
  margin-top: 1rem;
  margin-bottom: 0;
  margin-top: 2rem;
  padding: 12px 30px;
  border-radius: 15px;
}


.project-information{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bb{
  border-bottom: solid 1px;
}

.project-information img{
  width: 5rem;
  border: none;
  flex: 1;
}

.tech{
  width:90%;
}

.tech-used{
display: flex;
justify-content: space-between;
align-items: center;
width:100%;
}
.tech-info h5{
  margin:0;
}
.tech-info img{
  height: 40px;
  width:40px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 95%;
  
}

.links a{
  color:black;
  
  font-weight: bold;

  text-align: center;
  margin-top: 1rem;
  padding: 12px 30px;
  border-radius: 15px;
  cursor: pointer;
  
}
a:hover{
  color:#1fab89;
  
}

footer {
  background-color:#ecf4f3;
  height: 5rem;
}

footer h3{
  margin:0px;
}

.contact-info {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.contact-unit a{
  text-decoration: none;
  color: #1fab89;
  font-size: 1rem;
  cursor: pointer;
 
}

.contact-unit a:hover{
  color:black;
}

@media screen and (min-width:400px){
  nav {
    width: 100%;
    height: 4rem;
    position:fixed;
    background-color:#ecf4f3;
  }
  .icon {
    display: none !important;
  }
  #nav-bar {
     display: flex !important; 
    justify-content: flex-end;
    align-items: center;
  }
  .navbar a {
    display: inherit;
    float: left;
    color: #1fab89;
    text-decoration: none;
    margin-top: 2rem;
    text-align: center;
    margin-left: 1rem;
  }
}
  

@media only screen and (min-width:750px) {

  .project-information{
    width:90%;
    margin:auto;
  } 


}

@media screen and (min-width: 1000px) {
  body{
    font-size: 20px;
  }
  h1{
    font-size: 2.5rem;
  }
  .project-information{
    width:80%;
    margin:auto;
  }

  .project-card img{
    width: 60%;
    border:#EAF6F6 6px;
  }

  .tech{
    width:60%;
    }

}