* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  font-family: 'Merriweather', serif;
  margin:0;
  display: flex;
  flex-direction: column;
}

h1{
  font-family: 'Sacramento', cursive;
  color: #1fab89;
  font-weight: bold;
}
h2,h3{
  font-family: 'Montserrat', sans-serif;
  
}
h2{
  color: #1fab89;
}
h3{
  color:#00a79d;
}

nav {
  width: 100%;
  height: 3rem;
  position:fixed;
  background-color:#ecf4f3;
}

.navbar a {
  display: none;
  color: #1fab89;
  text-decoration: none;
  margin-top: 1rem;
  text-align: center;
  margin-left: 1rem;
}

.navbar a.icon {
  float: right;
  display: block;
}

.navbar a:hover {
  color: black;
  cursor: pointer;
}


.navbar.responsive {position: relative; background-color:#ecf4f3;}
.navbar.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}
.navbar.responsive a:not(:last-child) {
  float: none;
  display: block;
  text-align: left;
  background-color:#ecf4f3;
  margin-right: 2rem;
}



main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
}

main h2 {
  justify-self: center
}

main section {
  margin: 1rem 0
}

main section hr {
  margin-bottom: 1rem
}

.myPic{
  border-radius: 50%;
  
}

#skills {
  
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

#skills h2 {
  font-size: 2.5rem;
  margin: 0
}
#skills h3{
  margin-top: 1rem;
  margin-bottom: 0;
}

.list-of-skills{
  padding: 0;
  margin:0;
}

li{
  list-style: none;
}

hr{
  border:dotted  #1fab89 6px;
  border-bottom: none;
  width:4%
}

#projects {
  width:100%;
  border: black;
  border-width: 5px;
}
.project-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  margin: 0;
  border: 3px black;
}
.project-card img{
  width: 90%;
  border: #1fab89 6px;
}

#projects h2 {
  font-size: 2.5rem;
  margin: 0
}
#projects h3{
  margin-top: 1rem;
  margin-bottom: 0;
}


.project-information{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0px;
}

.project-information img{
  width: 5rem;
  border: none;
  flex: 1;
}

.tech{
  width:90%;
}

.tech-used{
display: flex;
justify-content: space-between;
align-items: center;
width:100%;
}
.tech-info h5{
  margin:0;
}
.tech-info img{
  height: 40px;
  width:40px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 95%;
  
}

.links a{
  color:#1fab89;
  font-weight: bold;
  background-color: #ecf4f3;
  text-decoration: none;
  text-align: center;
  margin-top: 1rem;
  padding: 12px 30px;
  border-radius: 15px;
  cursor: pointer;
  
}
a:hover{
  color:black;
  
}

footer {
  background-color:#ecf4f3;
  height: 5rem;
}

footer h3{
  margin:0px;
}

.contact-info {
  display: flex;
  justify-content: space-evenly;
}

.contact-unit a{
  text-decoration: none;
  color: #1fab89;
  font-size: 1rem;
  cursor: pointer;
 
}

.contact-unit a:hover{
  color:black;
}

@media screen and (min-width:400px){
  nav {
    width: 100%;
    height: 5rem;
    position:fixed;
    background-color:#ecf4f3;
  }

  .navbar a {
    display: inherit;
    float: left;
    color: #1fab89;
    text-decoration: none;
    margin-top: 1.5rem;
    text-align: center;
    margin-left: 1rem;
  }
  .navbar a.icon {
    float: right;
    display: none;  
  }

  .project-card img{
    width: 60%;
    border:#EAF6F6 6px;
  }

  .tech{
    width:40%;
    }
}